body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCE0E4;
    margin: 0;
}

.title{
    text-align: center;
    margin-top: 60px;
}

form{
    width: 350px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

form div{
    margin-top: 20px;
   
    
}

label{
    font-weight: bold;
    font-size: 15px;
   
}

input, select, textarea{
    
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgb(219, 219, 219);
}

select{

    width: 100%;
}

.submit button{
    
    background-color: black;
    color:white;
    padding: 6px 25px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.submit{
    text-align: right;
    margin-right: 7px;
}

.submit button:hover{
    font-size: 120%;
    background-color: coral;
    transition: 0.3s;
    
}
textarea{
    resize: none;
}

/* navbar start
========================================================= */

.navbar{
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgb(217, 217, 217);
}

.navbar img{
    width: 50px;
}

.nav-left{
    padding-right: 20px;
    width: 100%;
}

.nav-left a{
    text-decoration: none;
    color: black;

}

.nav-left ul{
    display: flex;
    list-style-type: none;
    align-items: center;
 }

 .nav-left ul li{
   padding-left: 40px;
  
 }

 .nav-right{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    padding-right: 50px;
 
 }
 
 .nav-right a{
    background-color: rgb(13, 12, 12);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
 }

 .nav-right a:hover{
    font-size: 120%;
    background-color: coral;
    transition: 0.3s;
 }

 .hamburger-nav-container{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(154, 154, 154);
    align-items: center;
    padding: 5px;
    border: 1px solid #fff;
    text-decoration: none;
    display: none;
}

#bars-menu{
    
    display: none;
    background-color: aqua;
}
.hamburger-nav-container a{
    text-decoration: none;
    color: white;
    

}
.hamburger-nav-container a{
    text-decoration: none;
    color: white;
}

/* end of navbar
====================================== */

.container{
    width: 80%;
    height: 600px;
    background-color: azure;
}
.card .image img{
    width: 50px;
}


.card{
    width: 900px;
    height: 200px;
    box-shadow: 5px 5px 25px rgb(205, 205, 205);
    display: flex;
    margin: auto;
    background-color: white;
}

.card .image{
    width: 40%;
    align-items: center;
    display: flex;
}

.card .image img{
    width: 100%;
    padding: 5px 5px;
}
.card .isi{

    margin-left: 30px;
    text-align: left;
    width: 60%;
}


@media only screen and (max-width: 736px) {
    .hamburger-icon{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    #bars-menu{
        height: fit-content;
        display: block;
        border: 0;
        background-color: white;
        transition: transform .2s;
    }
    #bars-menu:hover{
        transform: scale(1.2);
        
    }
    .hamburger-nav-container a{
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    .hamburger-nav-container a:hover{
        background-color: #181823;
    }
    .hamburger-nav-container a{
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
    }
    .hamburger-nav-container{
        height: fit-content;
        
        background-color: rgb(154, 154, 154);
        align-items: center;
        border: 1px solid #fff;
        text-decoration: none;
        display: none;
        text-align: center;
    }
    .navbar{
        background-color: white;
        margin: 0;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 5px 10px rgb(217, 217, 217);
    }
    .home, .project, .contact-btn{
        display: none
    }
    .nav-left ul li{
        padding-left: 0px;
       
      }

    /* end navbar
    ================================================== */

    .submit{
        display: flex;
        justify-content: center;
        margin-right: 7px;
    }

    .card{
        width: 400px;
        height: fit-content;
        box-shadow: 5px 5px 25px rgb(205, 205, 205);
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 100px;
        background-color: white;
    }
    .card .image{
        width: 100%;
        align-items: center;
        display: flex;
    }

    .card .image img{
        width: 100%;
    }
}